html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -5em;
}

.footer, .push {
  height: 5em;
}

.fw400 {
  font-weight: 400;
}

.bc1 {
  color: #3D69D4;
}

.bc2 {
  color: #30509D;
}

.bc3 {
  color: #283962;
}

.bc4 {
  color: #181E2E;
}

.gc1 {
  color: #68D43D;
}

.gc2 {
  color: #4F9D30;
}

.gc3 {
  color: #386228;
}

.gc4 {
  color: #1E2E18;
}

.bg-bc1 {
  background-color: #3D69D4;
}

.bg-bc2 {
  background-color: #30509D;
}

.bg-bc3 {
  background-color: #283962;
}

.bg-bc4 {
  background-color: #181E2E;
}

.bg-gc1 {
  background-color: #68D43D;
}

.bg-gc2 {
  background-color: #4F9D30;
}

.bg-gc3 {
  background-color: #386228;
}

.bg-gc4 {
  background-color: #1E2E18;
}

.btn:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.border-bc1 {
  border-color: #3D69D4;
}
