.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.label {
  font-size: 14px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dateline {
  fill: none;
  stroke-width: 1.5px;
  stroke: gray;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.tooltip {
  font: 13px sans-serif;
  fill: #EEE;
  pointer-events: none;
}
.tooltipbox {
  fill: #333;
  pointer-events: none;
}

.eventText {
  font: 13px sans-serif;
  fill: #EEE;
}

.pcontrol {
  border: 2px solid rgba(0,0,0,.6);
  border-radius: 4px;
}
.pbutton {
  height:26px;
  width: 26px;
  border: none;
  float: left;
  outline: none;
  cursor: pointer;
}
.play {
  background: url('../images/play.png') no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.pause {
  background: url('../images/pause.png') no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.timeline {
  background: rgba(0,0,0,.3);
  height: 14px;
  margin-top: 7px;
  float: left;
  border-radius: 15px;
  cursor: pointer;
}
.playhead {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: 1px;
  background: rgba(0,0,0,0.8);
  cursor: move;
}

.game_change {
  fill: rgb(115, 191, 114);
}
.status_change {
  fill: rgb(114, 162, 191);
}
.slow_on,.slow_off {
  fill: rgb(191, 134, 114);
}
.subs_on,.subs_off {
  fill: rgb(191, 174, 114);
}
.emote_only_on,.emote_only_off {
  fill: rgb(130, 114, 191);
}
.r9k_on,.r9k_off {
  fill: rgb(128, 128, 128);
}

.chatlog {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  font-size: 14px;
}
.chatnick {
  font-weight: 700;
}
.chatcolon {
  margin-right: 2px;
}
.chatline {
  padding-top: 5px;
}
.chatbadge {
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.chatbadge:last-child {
  margin-right: 4px;
}
.chatmsg {
  word-break: break-word;
}
.chatemote {
  vertical-align: baseline;
  display: inline-block;
  padding-top: 5px;
  background-position: center center;
  background-repeat: no-repeat;
}
